@media only screen and (max-width: 360px){
header{
		min-width:100%;
	}
	header #logo{
		font-size: 3vw;
		top: 25%;
		left: 50%;
		transform: translate(-50%);
	}
	#mainNav{
		left: 50%;
		transform: translate(-50%);
		height: unset;
	}
	#mainNav a, nav .dropdown .button{
		font-size: 3vw;
		padding: 5px;
	}
	#navLinks{
		min-width: unset;
	}
	/* end header and nav */
	
	
	#about_me{
	display: block;
	}
	#about_me img{
		width: 40vw;
		height: 40vw;
		margin: 25px 0;
		border-radius: 50%;
		border: 4px solid orange;
		position: relative;
		top: unset;
		left: 50%;
		transform: translate(-50%);
	}
	#text{
		position: unset;
		top: unset;
		left: unset;
		transform: unset;
		margin:auto;
		width: unset;
	}
	#left, #right{
		width:100%;
		height: 100%;
	}
	/* footer */
	#main_footer{
		width: 100%;
	}
	#main_footer h3{
		font-size: 3.5vw;
		width: max-content;
	}
	#main_footer #social{
		font-size: 3.5vw;
		margin: 5px 15px;
	}
	#foot_wrap{
		display: unset;
	}
}