*{
	/*box-sizing: border-box;*/ 	/* new */
}
/* Slideshow container */
.slideshow-container{
	max-width: 700px;		/* changed from 700px */
	position: relative;
	margin: auto;
}
/* Hide images by default */
.mySlides{
	display: none;
}
/* Next & previous buttons */
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;		
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text{
	color: #f2f2f2;
	background-color:  rgba(0,0,0,0.4);
	font-size: 18px;						
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	text-align: center;
	font-weight: bold;
	left: 50%;
	transform: translate(-50%);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* End of gallery */
.about{
	width: 700px;
	margin: auto;
}
.bold{
	text-weight: bold;
}
#main h1, aside h1{				/* new */
		margin: 20px 0 40px;	
		font-size: 2vw;
	}
	aside h1{					/* new */
		margin-bottom: 24px;
	}
	#main h2{					/* new */
		margin-bottom: 20px;
		font-size: 1.5vw;
	}
	#main p{					/* new */
		font-size: 1.2vw;
	}